@import "tailwindcss";

<<<<<<< HEAD
:root {
  --bg: #050505;
  --surface: #111111;
  --surface2: #181818;

  --gold: #D4AF37;
  --gold-light: #F4D46A;

  --border: #2A2A2A;

  --text: #FFFFFF;
  --secondary: #9CA3AF;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #18181b inset;
  -webkit-text-fill-color: white;
=======
body{
    background:#050505;
    color:white;
}

input{
    outline:none;
}

button{
    cursor:pointer;
}

input:-webkit-autofill{
    -webkit-box-shadow:0 0 0 1000px #18181b inset;
    -webkit-text-fill-color:white;
}
:root{

--bg:#050505;

--surface:#111111;

--surface2:#181818;

--gold:#D4AF37;

--gold-light:#F4D46A;

--border:#2A2A2A;

--text:#FFFFFF;

--secondary:#9CA3AF;

>>>>>>> parent of 7dbcf92 (Delete Exp-3 directory)
}